# Big image and texture files
*.jpg
*.png
*.dds
tiles/

# Python caches
__pycache__/
*.pyc

# IDE and OS files
.DS_Store
.idea/
.vscode/

# Ignore log files
*.log

# Allow small icon or specific files if needed
!icon.png
